.screen{
  background-color: #141318;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.onboarding-text {
  color: #FDFDFE;
  font-size: 40px;
  width: 80vw;
  font-weight: bold;
}

.onboarding-textContainer{
  font-size: 15px;
  margin-bottom: 20px;
}

.button{
  background-color: #B3E0B9;
  padding: 20px 120px;
  border-radius: 18px;
  margin-bottom: 40px;
  border: none;
}

.buttonText{
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter';
}

.card-image {
  width: 90vw;
  height: 65vw;
  transform: rotate(-25deg);
  margin-right : 260px;
  margin-bottom : 40px;
  border-radius: 18px;
}

.signup{
  justify-content: center;
}

.signup-container{
  display: flex;
  flex-direction: column;
}

.signup-container input {
  margin-bottom: 15px;
  border-radius: 12px;
  border : none;
  padding: 10px;
  font-family: 'Inter';
  font-size: 18px;
}

.signup-text{
  color: #FDFDFE;
  font-size: 40px;
  width: 70vw;
  margin-bottom: 20px;
}

.signup-button {
  padding: 12px;
  border-radius: 18px;
}

.logout-navigate{
  position : fixed;
  left: 0;
  color: #636266f5;
  font-size: 18px;
  padding: 10px;
}

.history-navigate{
  position : fixed;
  right: 0;
  color: #636266f5;
  font-size: 18px;
  padding: 10px;
}

.budget-widget{
  display: flex;
  margin: 15vh 0vh 8vh 0vh;
  flex-direction: column;
  text-align: center;
}

.budget-amount{
  padding: 5px;
  background-color: #B3E0B9;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 2px 4px 10px 5px;
}

.budget-text{
  margin-bottom: 10px;
  color: #FDFDFE;
}

.budget-update{
  color: #636266f5;
  font-size: 15px;
  margin-top: 5px;
}

.update-prompt{
  color: #B3E0B9;
  padding-bottom: 5px;
}

.expense-item{
  color: #FDFDFE;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr) ;
}

.expense-undo{
  color: #636266f5;
}

.expense-data{
  width: 25vw;
  text-align: center;
}

.screen-title{
  color: #FDFDFE;
  text-align: center;
  padding: 30px 0px;
  font-size: 20px;
  font-weight: bold;
}

.expense-data:nth-child(2){
  text-align: left;
}

.header{
  margin-bottom: 10px;
}

.expenses-parent{
  overflow-y: scroll;
}

.expenses-parent > :last-child{
  margin-bottom: 20px;
}

.expense-adder
{
  position: fixed;
  bottom: 0;
  background-color: #FDFDFE;
  width: 100vw;
}

.expense-textbox{
  color: #B3E0B9;
  font-size: 25px;
}

.expense-category-bar{
  display: flex;
  justify-content: space-around;
  padding: 8px 10px;
}

.expense-category{
  background-color: #1413181e;
  padding: 5px 10px;
  border-radius: 18px;

}

.expense-numpad {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr) ;
}
.expense-numpad div{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.253);
  font-size: 30px;
  padding: 15%;
  text-align: center;
}

.small-text{
  color: #B3E0B9;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}